<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-lg-offset-2 col-lg-8">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Saras</a>
	    </div>

	      <ul class="nav navbar-nav navbar-right">
	        <li><%= link_to "Saras projekt", root_path %></li>
	        <li><%= link_to "Hej", "#" %></li>
	      </ul>
      </div>
  	</div>
  </div><!-- /.container-fluid -->
</nav>